<span>
  Here!
</span><mat-selection-list role="list" #shoes>
  <mat-list-option *ngFor="let profile of profiles" [value]="profile">
    <!-- <img matListAvatar [src]="profile.img" > -->
    <h3 matLine>{{ profile.Name }}</h3>
    <!-- <h3 matLine><input class="demo-2" matInput [(ngModel)]="profile.Name" /></h3> -->
    <p matLine>
      <span> {{ profile.Username }} </span>
      <!-- <span> {{profile.Login}} </span> -->
      <!-- <span class="demo-2"> -- {{profile.AboutMe}} </span> -->
    </p>
    <!-- <p matLine>
      <span> {{profile.Email}} </span>
      <span class="demo-2">{{ profile.AboutMe }} </span>
    </p> -->
    <!-- <p matLine>
      <mat-form-field appearance="legacy">
        <mat-label>Name:</mat-label>
        <input class="demo-2" matInput [(ngModel)]="profile.pwd" />
      </mat-form-field>
    </p> -->
    <!-- <div>
          <button mat-button (click)="add(profile)">
              <mat-icon aria-hidden="false" aria-label="Example home icon">
                  power_settings_new
              </mat-icon>
              Add
          </button>
      </div> -->
  </mat-list-option>
</mat-selection-list>
