<h2 mat-dialog-title>Add new profiler</h2>
<mat-dialog-content class="mat-typography">
  <mat-horizontal-stepper linear="true" #stepper>
    <mat-step label="choose the users">
      <app-edit-org [org]="org"></app-edit-org>
    </mat-step>
    <mat-step label="Override password">
      <ng-template matStepLabel>Step 2</ng-template>
      <ng-template matStepContent>
        <app-list-profiles [org]="org"></app-list-profiles>
      </ng-template>
    </mat-step>
    <mat-step #final label="Final Review">
      <app-final-review [org]="org"></app-final-review>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [mat-dialog-close]="null">Cancel</button>
  <div *ngIf="stepper.selected != final">
    <button mat-button (click)="stepper.next()">Next</button>
  </div>
  <!-- <button mat-button [mat-dialog-close]="shoes.selectedOptions.selected" cdkFocusInitial>
    Install
  </button> -->
</mat-dialog-actions>
